<% if @article.errors.any? %>
    <h2>Błędy podczas zapisywania artykułu</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @article, local: true ) do |f| %>

    <p>
        <%= f.label :tytuł %><br/>
        <%= f.text_field :tytuł %>
    </p>

    <p>
        <%= f.label :opis %><br/>
        <%= f.text_area :opis %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>
