<div class= "container">
    <div class="row justify-content-center">
    <div class="col-10">
        <%= render 'shared/errors'%>
        <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true ) do |f| %>
            <div class= "form-group row">
                <%= f.label :tytuł, class: "col-2 col-form-label text-light" %>
                <div class="col-10">
                    <%= f.text_field :tytuł, class: "form-control shadow rounded", placeholder: "Wpisz tytuł"  %>
                </div>
            </div>

            <div class= "form-group row">
                <%= f.label :opis, class: "col-2 col-form-label text-light" %>
                <div class="col-10">
                    <%= f.text_area :opis, rows: 10, class: "form-control shadow rounded", placeholder: "Opis artykułu" %>
                </div>
            </div>

            <div class= "form-group row justify-content-center">
                <%= f.submit class: "btn btn-outline-light btn-lg" %>
            </div>
        <% end %>
    </div>
    </div>

    <div class="row justify-content-center mb-3">
    <%= link_to '[ Anuluj i wróć do listy ]', articles_path, class: "text-info" %>
    </div>
</div>
