<h1>Wszystkie artykuły</h1>

<table>
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th colspan="3">Akcje</th>
        </tr>
    </thead>


    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.tytuł %></td>
                <td><%= article.opis %></td>
                <td><%= link_to 'Pokaż', article_path(article) %> </td>
                <td><%= link_to 'Edytuj', edit_article_path(article) %> </td>
                <td><%= link_to 'Usuń', article_path(article), method: :delete, data: { confirm: "Jesteś pewien?" } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p>
<%= link_to 'Stwórz nowy artykuł', new_article_path %>
</p>
