<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "ALPHA Blog", root_path, class:"navbar-brand", id:"logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <%= link_to "Blogerzy", users_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artykuły
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
                <%= link_to "Stwórz nowy artykuł", new_article_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Przeglądaj artykuły", articles_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>

        <% if logged_in? %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= "(Admin)" if current_user.admin? %> Profil [<%= current_user.username %>]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Twój profil", user_path(current_user), class: "dropdown-item" %>
                    <%= link_to "Edytuj profil", edit_user_path(current_user), class: "dropdown-item" %>
                    <%= link_to "Usuń profil", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Jesteś pewien?"} %>
            </li>
            <li class="nav-item">
                <%= link_to "Wyloguj się", logout_path, class: "nav-link", method: :delete %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Zaloguj się", login_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Zarejestruj się", signup_path, class: "nav-link" %>
            </li>
        <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Szukaj">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
    </div>
</nav>
